a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

#myLogo {
    position: absolute;
    top: 25%;
    left: 58.3%;
    margin-top: -250px;
    margin-left: -250px;
    z-index: 1000;
    max-width: 75%;
    width: 10%;
    height: auto;
}

.frame {
    height: 25px;
    line-height: 25px;
    width: 160px;
    text-align: center;
    margin: 1em 0;
    vertical-align: middle;
}

body {
    background-image: url(../images/Background.jpg);
    line-height: 1;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .025;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body,
button,
input,
option,
select,
textarea {
    font-family: Poppins;
}

#links {
    height: 100vh;
    width: 100%;
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

#links .btn {
    top: 35%;
    margin-top: -250px;
    max-width: 75%;
    width: 10%;
    height: auto;
    width: 25%;
    height: 25%;
    display: inline-block;
    font-size: 0px;
    position: relative;
    color: white;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
}

#links .btn:hover {
    color: #101010;
    text-shadow: 0 9px 12px rgba(0, 0, 0, 0.15)
}

#links .btn.btn--server1:hover {
    background-color: rgb(41, 110, 165)
}

#links .btn.btn--server2:hover {
    background-color: rgb(140, 158, 255)
}

#links .btn.btn--server3:hover {
    background-color: rgb(243, 226, 0)
}

#links .btn.btn--server4:hover {
    background-color: rgb(235, 139, 3)
}

#links .btn-pseudoLink {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 15px;
    cursor: pointer
}

#links .btn-text {
    display: inline-block;
    font-size: 78px;
    height: 78px;
    line-height: 78px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

#myIcons {
    max-width: 75%;
    width: 10%;
    height: auto;
}

#links .btn-text b {
    font-size: 4.7vw
}

#links .btn-text small {
    font-size: 17px;
    letter-spacing: 2px;
    display: block;
    margin-top: -20px
}

#links .logo {
    width: 557px;
    height: 159px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (max-width:1200px) {
    #links .logo {
        width: 300px;
        height: 91px
    }
    #links .btn-text {
        font-size: 56px
    }
}

@media (max-width:1200px) {
    #links {
        height: auto;
        padding-top: 50px;
        padding-bottom: 30px
    }
    #links .btn {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        height: 103px
    }
    #links .btn .btn-text {
        line-height: 52px;
        font-size: 30px
    }
    #links .btn .btn-text small {
        margin-top: -20px;
        font-size: 13px
    }
    #links .btn:first-child {
        margin-top: 91px
    }
    #links .btn.btn--vanilla b {
        margin-right: -5px!important
    }
    #links .logo {
        max-width: calc(100% - 20px);
        position: relative;
        top: 0;
        bottom: 0;
        margin-bottom: 30px
    }
}

#links .logo:after {
    display: block;
    font-size: 20px;
    letter-spacing: 5px;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    user-select: none;
    pointer-events: none;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
    #links .logo:after {
        font-size: 12px;
        bottom: 0;
    }
}